.page-header
  %h1 Request

.row
  .col-sm-6
    .panel.panel-default
      .panel-heading
        Do this now
      .panel-body
        %ul
          %li Shut down modules
          %li Stop breathing
          %li ...
  .col-sm-6
    %iframe{scrolling: 'no', src: "https://widget.mibbit.com/?settings=af91045948d571fbddb06aaa1aa3e012&server=irc.ca.us.mibbit.net%3A%2B6697&channel=%23Five0h0ne_test&nick=#{@request.cmdr_name}", width: '350', height: '400'}